<h3>Welcome to Flatiron Clinic!</h3>
<p>Here, you will be able to view your confidential medical records, bringing you closer to the information most important to you.<p>
<p>Please note that you may only sign up as a patient. If you are a consultant, please contact your system administrator for a practitioner's account.</p>
